<h1>Listing pipelines</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Key</th>
    <th>E-mail</th>
    <th>Status<th>
  </tr>

<% @pipelines.each do |pipeline| %>
  <tr>
    <td><%= pipeline.id %></td>
    <td><%= pipeline.name %></td>
    <td><%= pipeline.key %></td>
    <td><%= pipeline.email %></td>
    <td><span class="<%= Status.all[pipeline.status_id-1].name %>"><%= Status.all[pipeline.status_id-1].name.upcase %></span></td>
    <td><%= link_to 'Show', pipeline %></td>
    <td><%= link_to 'Edit', edit_pipeline_path(pipeline) %></td>
    <td><%= link_to 'Destroy', pipeline, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pipeline', new_pipeline_path %>
