<h1>Listing pipeline items</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Script ID</th>
    <th>Pipeline ID</th>
    <th>Execution order</th>
    <th>Status ID</th>
    <th>Time created</th>
  </tr>

<% @pipeline_items.each do |pipeline_item| %>
  <tr>
    <td><%= pipeline_item.id %></td>
    <td><%= pipeline_item.script.label %></td>
    <td><%= pipeline_item.pipeline.name %></td>
    <td><%= pipeline_item.exec_order %></td>
    <td><span class="<%= pipeline_item.status.name %>"><%= pipeline_item.status.name.upcase %></span></td>
    <td><%= pipeline_item.created_at %></td>
    <td><%= link_to 'Show', pipeline_item %></td>
    <td><%= link_to 'Edit', edit_pipeline_item_path(pipeline_item) %></td>
    <td><%= link_to 'Destroy', pipeline_item, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pipeline item', new_pipeline_item_path %>
